.slideshow {
    display: block;
    position: relative;
    margin: 10px auto;
    width: 640px;
    height: 360px;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    /* Pagination */
    /* Captions */
}
.slideshow > div.controls,
.slideshow > ol.slides,
.slideshow > ol.captions,
.slideshow > ol.pager {
    position: absolute;
    z-index: 1;
    margin: 0;
    width: 640px;
    height: 360px;
    list-style: none;
    overflow: hidden;
}
.slideshow > div.controls {
    z-index: 2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px inset, white 0 0 0 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px inset, white 0 0 0 10px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px inset, white 0 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px inset, white 0 0 0 10px;
}
.slideshow > div.controls > a {
    position: absolute;
    display: block;
    margin: 160px 0 0 0;
    width: 40px;
    height: 40px;
    background: #FFF;
    color: #555;
    font-size: 70px;
    line-height: 30px;
    text-align: center;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
    -moz-transition-property: margin;
    -webkit-transition-property: margin;
    -o-transition-property: margin;
    transition-property: margin;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.slideshow > div.controls > a.disabled {
    margin-left: -60px;
}
.slideshow > div.controls > a.next {
    margin-left: 600px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.slideshow > div.controls > a.next.disabled {
    margin-left: 660px;
}
.slideshow.vertical > div.controls > a {
    margin: 0 0 0 560px;
    font-size: 28px;
    font-weight: bold;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.slideshow.vertical > div.controls > a.next {
    margin: 320px 0 0 560px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.slideshow > ol.slides > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 360px;
    -moz-transition-property: left top transform -moz-transform;
    -webkit-transition-property: left top transform -moz-transform;
    -o-transition-property: left top transform -moz-transform;
    transition-property: left top transform -moz-transform;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.slideshow > ol.slides > li > img {
    width: 640px;
    height: 360px;
}
.slideshow > ol.pager {
    margin: 330px 0 0 20px;
    z-index: 3;
    width: 400px;
    height: 20px;
}
.slideshow > ol.pager > li {
    float: left;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    background: #FFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.slideshow > ol.pager > li.active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.slideshow > ol.pager > li > a {
    display: block;
    text-indent: -9999px;
}
.slideshow > ol.pager.explicit > li {
    width: 20px;
    height: 20px;
}
.slideshow > ol.pager.explicit > li > a {
    text-align: center;
    text-indent: 0;
    font-size: 14px;
    line-height: 20px;
    color: #444;
}
.slideshow > ol.captions {
    position: relative;
}
.slideshow > ol.captions > li {
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 0;
    padding: 10px;
    min-width: 200px;
    color: #FFF;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    background: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
html.rgba .slideshow > ol.captions > li {
    background: rgba(0, 0, 0, 0.7);
}
.slideshow > ol.captions > li.active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
}