/* Horizontal */
.slideshow.horizontal > ol.slides > li {
    -moz-transition-property: left transform -moz-transform;
    -webkit-transition-property: left transform -moz-transform;
    -o-transition-property: left transform -moz-transform;
    transition-property: left transform -moz-transform;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
html.no-csstransforms .slideshow.horizontal > ol.slides > li.current {
    left: 0;
}
html.csstransforms.no-csstransforms3d .slideshow.horizontal > ol.slides > li.current {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
html.csstransforms3d .slideshow.horizontal > ol.slides > li.current {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
html.no-csstransforms .slideshow.horizontal > ol.slides > li.prev {
    left: -100%;
}
html.csstransforms.no-csstransforms3d .slideshow.horizontal > ol.slides > li.prev {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
html.csstransforms3d .slideshow.horizontal > ol.slides > li.prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
html.no-csstransforms .slideshow.horizontal > ol.slides > li.next {
    left: 100%;
}
html.csstransforms.no-csstransforms3d .slideshow.horizontal > ol.slides > li.next {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
html.csstransforms3d .slideshow.horizontal > ol.slides > li.next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

/* Vertical */
.slideshow.vertical > ol.slides > li {
    -moz-transition-property: left transform -moz-transform;
    -webkit-transition-property: left transform -moz-transform;
    -o-transition-property: left transform -moz-transform;
    transition-property: left transform -moz-transform;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
html.no-csstransforms .slideshow.vertical > ol.slides > li.current {
    top: 0;
}
html.csstransforms.no-csstransforms3d .slideshow.vertical > ol.slides > li.current {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
html.csstransforms3d .slideshow.vertical > ol.slides > li.current {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
html.no-csstransforms .slideshow.vertical > ol.slides > li.prev {
    top: -100%;
}
html.csstransforms.no-csstransforms3d .slideshow.vertical > ol.slides > li.prev {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
html.csstransforms3d .slideshow.vertical > ol.slides > li.prev {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
html.no-csstransforms .slideshow.vertical > ol.slides > li.next {
    top: 100%;
}
html.csstransforms.no-csstransforms3d .slideshow.vertical > ol.slides > li.next {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
html.csstransforms3d .slideshow.vertical > ol.slides > li.next {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

html.no-csstransforms .slideshow.sheet-left > ol.slides > li.current, html.no-csstransforms .slideshow.sheet-left > ol.slides > li.prev {
    left: 0;
}
html.csstransforms.no-csstransforms3d .slideshow.sheet-left > ol.slides > li.current, html.csstransforms.no-csstransforms3d .slideshow.sheet-left > ol.slides > li.prev {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
html.csstransforms3d .slideshow.sheet-left > ol.slides > li.current, html.csstransforms3d .slideshow.sheet-left > ol.slides > li.prev {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
html.no-csstransforms .slideshow.sheet-left > ol.slides > li.next {
    left: 100%;
}
html.csstransforms.no-csstransforms3d .slideshow.sheet-left > ol.slides > li.next {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
html.csstransforms3d .slideshow.sheet-left > ol.slides > li.next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

html.no-csstransforms .slideshow.sheet-down > ol.slides > li.current, html.no-csstransforms .slideshow.sheet-down > ol.slides > li.prev {
    top: 0;
}
html.csstransforms.no-csstransforms3d .slideshow.sheet-down > ol.slides > li.current, html.csstransforms.no-csstransforms3d .slideshow.sheet-down > ol.slides > li.prev {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
html.csstransforms3d .slideshow.sheet-down > ol.slides > li.current, html.csstransforms3d .slideshow.sheet-down > ol.slides > li.prev {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
html.no-csstransforms .slideshow.sheet-down > ol.slides > li.next {
    top: -100%;
}
html.csstransforms.no-csstransforms3d .slideshow.sheet-down > ol.slides > li.next {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
html.csstransforms3d .slideshow.sheet-down > ol.slides > li.next {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

html.no-csstransforms .slideshow.sheet-up > ol.slides > li.current, html.no-csstransforms .slideshow.sheet-up > ol.slides > li.prev {
    top: 0;
}
html.csstransforms.no-csstransforms3d .slideshow.sheet-up > ol.slides > li.current, html.csstransforms.no-csstransforms3d .slideshow.sheet-up > ol.slides > li.prev {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
html.csstransforms3d .slideshow.sheet-up > ol.slides > li.current, html.csstransforms3d .slideshow.sheet-up > ol.slides > li.prev {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
html.no-csstransforms .slideshow.sheet-up > ol.slides > li.next {
    top: 100%;
}
html.csstransforms.no-csstransforms3d .slideshow.sheet-up > ol.slides > li.next {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
html.csstransforms3d .slideshow.sheet-up > ol.slides > li.next {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

/* Fade */
.slideshow.fade > ol.slides > li {
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.slideshow.fade > ol.slides > li.current {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.slideshow.fade > ol.slides > li.prev, .slideshow.fade > ol.slides > li.next {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}

.slideshow.slice-horizontal > ol.slides > li.current, .slideshow.slice-horizontal > ol.slides > li.prev,
.slideshow.slice-vertical > ol.slides > li.current,
.slideshow.slice-vertical > ol.slides > li.prev {
    z-index: 10;
}
.slideshow.slice-horizontal > ol.slides > li.next,
.slideshow.slice-vertical > ol.slides > li.next {
    z-index: 9;
}
.slideshow.slice-horizontal > ol.slides > li > span,
.slideshow.slice-vertical > ol.slides > li > span {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-transition-property: position transform -moz-transform opacity;
    -webkit-transition-property: position transform -moz-transform opacity;
    -o-transition-property: position transform -moz-transform opacity;
    transition-property: position transform -moz-transform opacity;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

html.no-csstransforms .slideshow.slice-horizontal > ol.slides > li.prev > span {
    left: 100%;
}
html.csstransforms.no-csstransforms3d .slideshow.slice-horizontal > ol.slides > li.prev > span {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
html.csstransforms3d .slideshow.slice-horizontal > ol.slides > li.prev > span {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
html.no-csstransforms .slideshow.slice-horizontal > ol.slides > li.prev > span:nth-child(2n) {
    left: -100%;
}
html.csstransforms.no-csstransforms3d .slideshow.slice-horizontal > ol.slides > li.prev > span:nth-child(2n) {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
html.csstransforms3d .slideshow.slice-horizontal > ol.slides > li.prev > span:nth-child(2n) {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

html.no-csstransforms .slideshow.slice-vertical > ol.slides > li.prev > span {
    top: 100%;
}
html.csstransforms.no-csstransforms3d .slideshow.slice-vertical > ol.slides > li.prev > span {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
html.csstransforms3d .slideshow.slice-vertical > ol.slides > li.prev > span {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
html.no-csstransforms .slideshow.slice-vertical > ol.slides > li.prev > span:nth-child(2n) {
    top: -100%;
}
html.csstransforms.no-csstransforms3d .slideshow.slice-vertical > ol.slides > li.prev > span:nth-child(2n) {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
html.csstransforms3d .slideshow.slice-vertical > ol.slides > li.prev > span:nth-child(2n) {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.slideshow.turn-up > ol.slides,
.slideshow.turn-down > ol.slides,
.slideshow.turn-left > ol.slides {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
.slideshow.turn-up > ol.slides > li,
.slideshow.turn-down > ol.slides > li,
.slideshow.turn-left > ol.slides > li {
    -moz-transform-origin: 0 0 0 50%;
    -webkit-transform-origin: 0 0 0 50%;
    -o-transform-origin: 0 0 0 50%;
    -ms-transform-origin: 0 0 0 50%;
    transform-origin: 0 0 0 50%;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-transition-property: transform;
    -webkit-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.slideshow.turn-up > ol.slides > li.prev {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.slideshow.turn-down > ol.slides > li {
    -moz-transform-origin: 0 bottom 0 50%;
    -webkit-transform-origin: 0 bottom 0 50%;
    -o-transform-origin: 0 bottom 0 50%;
    -ms-transform-origin: 0 bottom 0 50%;
    transform-origin: 0 bottom 0 50%;
}
.slideshow.turn-down > ol.slides > li.prev {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.slideshow.turn-left > ol.slides > li.prev {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.slideshow.square > ol.slides > li span {
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}
.slideshow.square > ol.slides > li span:nth-child(3n) {
    -moz-transition-delay: 0.6s;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.slideshow.square > ol.slides > li span:nth-child(6n) {
    -moz-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.slideshow.square > ol.slides > li span:nth-child(7n) {
    -moz-transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.slideshow.square > ol.slides > li span:nth-child(11n) {
    -moz-transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
.slideshow.square > ol.slides > li.current span, .slideshow.square > ol.slides > li.next span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.slideshow.square > ol.slides > li.prev span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}